<header>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container">
      <div class="logo"></div>
      <ul class="navbar-nav gap-2">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['']" [routerLinkActive]="'active'">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/employees']" [routerLinkActive]="'active'">
            Employees
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/employees/create']" [routerLinkActive]="'active'">
            Create employee
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main class="container">

  <h1 class="text-center"> {{title}} </h1>

  <router-outlet></router-outlet>
</main>

<footer class="footer border-top bg-primary mt-4">
  <div class="container d-flex flex-wrap justify-content-center align-items-center p-3">
    <span>All Rights etc etc etc</span>
  </div>
</footer>