<h2 class="align-center">Employee list</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email ID</th>
    </tr>
  </thead>
  <tbody>
    @for (employee of employees; track employee.id) {
    <tr>
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.emailID}}</td>
      <td>
        <button class="btn btn-info me-1" (click)="updateEmployee(employee.id)">Edit</button>
        <button class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
      </td>
    </tr>
    }
  </tbody>
</table>